<h2>More information about {{model.author}}'s question: </h2>
Question: {{model.question}}
<br>
{{edit-message message=model edit="edit"}}
{{message-detail message=model}}
{{new-answer saveAnswer="saveAnswer" message=model}}
